// font
$font-12: 12px;
$font-14: 14px;
$font-18: 18px;
$font-24: 24px;
$font-42: 42px;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
$fw-800: 800;

// color
$white: #FFF;
$black: #000;
$gray: #2C2C2C;
$lightgray: #656565;
$footer-gray: #505050;
$footer-lightgray: #4B4B4B;
$hover-lightgray: #C4C4C4;
$back-gray: #FAFAFA;
$border-gray: #F3F3F3;
$blue: #1473E6;
$darkblue: #2464D3;
$card-pink: #ff61f6;
$red: #FA0F00;