@import "variables";
@import "mixin";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid $border-gray;
    transition: transform .3s ease;
    z-index: 10;
    background-color: white;
}
.scroll-down {
    transform: translateY(-64px);
}

.main {
    position: relative;
    padding-top: 64px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    border-top: solid 1px $border-gray;
    border-bottom: solid 1px $border-gray;
    // box-shadow: 1px 3px 3px rgba(0 0 0 0.2);
}

.menu-wrap {
    display: flex;
    align-items: center;
}
.button--menu {
    display: none;
}

.title_logo {
    @include font-style($font-18, $fw-700, $red);
    padding: 0 20px;
}
.title_logo::before {
    display: inline-block;
    content: '';
    width: 25px;
    height: 22.3px;
    background: url('https://www.adobe.com/content/dam/cc/icons/Adobe_Corporate_Horizontal_Red_HEX.svg') 25px 22.3px;
    vertical-align: -5px;
    margin-right: 10px;
}

.menu {
    display: flex;
}
.menu__title {
    height: 64px;
    display: flex;
    align-items: center;
}

.dim {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.menu__item--open .dim {
    display: block;
}

.sub-menus {
    display: flex;
    z-index: 10;
    left: 0; right: 0;
    margin: 0 auto;
    position: absolute;
    justify-content: space-around;
    background-color: $back-gray;
    max-width: 1440px;
    width: 100%;
}

.sub-menu-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0 60px;
}
.sub-menu-container .menu__sub-menu {
    padding : 0;
}
.sub-menu-container .menu__sub-menu + .menu__sub-menu {
    padding: 20px 0 12px;
}

.menu__sub-menu {
    display: flex;
    flex-direction: column;
}
.sub-menu__item--last:hover {
    background: none;
}

.card--small {
    margin: 40px 32px 60px;
}

.button-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button--search.button--close {
    display: none;
}
.button--search:hover {
    fill: $blue;
}
.button--search--close {
    display: none;
    font-size: $font-24;
}
.button--open {
    display: inline-block;
}

.dim--search {
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    display: none;
}
.dim--search.dim--open {
    display: flex;
}
.search-section {
    display: flex;
    justify-content: center;
    z-index: 10;
    left: 0; right: 0;
    margin: 0 auto;
    position: absolute;
    background-color: $back-gray;
    max-width: 1440px;
    width: 100%;
    padding: 20px 30px;
}
.search-form {
    display: flex;
    max-width: 1200px;
    width: 100%;
    box-sizing: content-box;
    padding: 7px 10px;
    margin: 0 20px;
    height: 20px;
    border: 1px solid #d3d3d3;
    background-color: white;
}
.search-bar {
    width: 100%;
    border: none;
    font-family: inherit;
    @include font-style($font-16, $fw-300, $gray);
}


.button--sign-in {
    // width: 85px;
    padding: 0 20px;
    @include font-style($font-14, $fw-400, $gray);
    &:hover {
        color: $blue;
    }
}

.card--big__explanation {
    max-width: 400px;
}

.acrobat-sign__card--big {
    flex-direction: row-reverse;
    padding-left: 100px;
    background-color: #d7f0ab;
}
.about {
    padding: 50px 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.cloud__card--big {
    padding-right: 100px;
    background-color: skyblue;
}

.card--medium {
    background: url(../resource/emojimix-7.png) no-repeat;
    background-size: 80%;
    background-position: 50% calc(50% + 50px);
}
.card--double {
    grid-column: 1 / 3;
    background-image: url(../resource/emojimix-4.png);
    background-size: 50%;
}
.card--babypink {
    background-color: pink;
}
.card--black {
    background-image: url(../resource/emojimix-10.png);
    background-color: black;
    color: $white;
}
.card--gold {
    background-image: url(../resource/emojimix-18.png);
    background-color: gold;
}
.card--blue {
    background-image: url(../resource/emojimix-5.png);
    background-color: lightblue;
}
.card--red {
    background-image: url(../resource/emojimix-3.png);
    background-color: red;
}
.card--list {
    background-image: none;
}
.card--medium__list-acrobat {
    font-weight: $fw-700;
}
.list-acrobat__title {
    font-size: $font-18;
    border-bottom: 2px solid $white;
    line-height: 1.4;
    margin-bottom: 20px;
}
.list-acrobat__item {
    font-size: $font-14;
    padding-bottom: 16px;
}
.list-acrobat__link {
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

footer {
    background-color: $back-gray;
    padding: 40px 20px 20px;
}
.footer__menu {
    display: flex;
}

.menu--footer {
    padding-bottom: 20px;
    width: 100%;
}
.menu--footer__title {
    line-height: 1.4;
}
.menu--footer__item--last {
    padding: 4px 0 32px;
}

.footer-menu-container {
    width: 100%;
    .menu--footer {
        padding-bottom: 20px;
    }
}


.dim--footer {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    display: none;
}
.dim--footer--open {
    display: flex;
}

.region {
    padding: 32px;
    background-color: white;
    position: relative;
    z-index: 30;
}
.region__title {
    @include font-style($font-28, $fw-700, $black);
    margin-bottom: 8.4px;
}
.region__subtitle {
    @include font-style($font-16, $fw-500, $gray);
    margin-bottom: 19.4px;
}
.button--close {
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
    font-size: 30px;
}
.region__list-region {
    max-width: 80vw;
    max-height: calc(100vh - 60px);
    width: 80vw;
    column-count: 5;
}
.list-region__title {
    @include font-style($font-14, $fw-700, $gray);
}
.list-region__link {
    font-size: $font-14;
    color: $blue;
    line-height: 1.4;
    &:hover {
        text-decoration: underline;
    }
}

.featured {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured__title {
    font-size: $font-14;
}
.featured__tools {
    display: flex;
    font-size: $font-12;
    justify-content: center;
}
.tools__item {
    padding: 8px;
}
.tools__item::before {
    display: inline-block;
    content: '';
    background-image: url(../resource/emojimix-3.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
}
.tools__link {
    vertical-align: 5px;
}

.region-sns {
    display: flex;
    height: 60px;
    align-items: center;
}
.button--region {
    display: inline-block;
    background: none;
    border: none;
    font-size: 11px;
}
.button--region::before {
    display: inline-block;
    content: '';
    background: url(../resource/world.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px;
    padding-right: 10px;
    vertical-align: -5px;
}
.button--region::after {
    @include arrow;
}
.list-sns {
    display: flex;
}
.list-sns__item {
    box-sizing: content-box;
    width: 20px;
    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 11px;
}
.info__item-wrap {
    display: flex;
}
.info__item::after {
    display: inline-block;
    content: '/';
    margin: 0 10px;
}
.info__small {
    color: #4B4B4B;
}
.info__item:last-child::after {
    display: none;
}


.stop-scrolling {
    height: 100%;
    overflow: hidden;
}