.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #F3F3F3;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  border-top: solid 1px #F3F3F3;
  border-bottom: solid 1px #F3F3F3;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_logo {
  font-size: 18px;
  font-weight: 700;
  color: #FA0F00;
  padding: 0 20px;
}

.title_logo::before {
  display: inline-block;
  content: '';
  width: 25px;
  height: 22.3px;
  background: url("https://www.adobe.com/content/dam/cc/icons/Adobe_Corporate_Horizontal_Red_HEX.svg") 25px 22.3px;
  vertical-align: -5px;
  margin-right: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_item {
  position: relative;
}

.menu__title {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dim {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.dim--open {
  display: block;
}

.sub-menus {
  display: none;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FAFAFA;
  max-width: 1440px;
  width: 100%;
}

.dim--open .sub-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0 60px;
}

.sub-menu-container .menu__sub-menu {
  padding: 0;
}

.sub-menu-container .menu__sub-menu + .menu__sub-menu {
  padding: 20px 0 12px;
}

.menu__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-menu__item--last:hover {
  background: none;
}

.card--small {
  margin: 40px 32px 60px;
}

.button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--search {
  padding: 0;
  border: none;
  background-color: #FFF;
}

.button--sign-in {
  width: 85px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #2C2C2C;
}

.button--sign-in:hover {
  color: #1473E6;
}

.acrobat-sign__card--big {
  padding-left: 100px;
  background-color: #d7f0ab;
}

.acrobat-sign__card--big .card--big__explanation {
  max-width: 400px;
}

.about {
  padding: 50px 45px;
  display: -ms-grid;
  display: grid;
  gap: 40px;
}

.acrobat-sign__about {
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
}

.cloud__card--big .card--big__explanation {
  max-width: 450px;
}

.cloud__card--big {
  padding-right: 100px;
  background-color: skyblue;
}

.cloud__about {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.card--medium {
  background: url(../resource/emojimix-7.png) no-repeat;
  background-size: 100%;
  background-position: 0px 100px;
}

.card--double {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-image: url(../resource/emojimix-4.png);
  background-size: 50%;
  background-position: 50% 100px;
}

.card--babypink {
  background-color: pink;
}

.card--black {
  background-image: url(../resource/emojimix-10.png);
  background-color: black;
  color: #FFF;
}

.card--list {
  background-image: none;
}

.card--medium__list-acrobat {
  font-weight: 700;
}

.list-acrobat__title {
  font-size: 18px;
  border-bottom: 2px solid #FFF;
  line-height: 1.4;
  margin-bottom: 20px;
}

.list-acrobat__item {
  font-size: 14px;
  padding-bottom: 16px;
}

.list-acrobat__link {
  color: inherit;
}

.list-acrobat__link:hover {
  text-decoration: underline;
}

.card--gold {
  background-image: url(../resource/emojimix-18.png);
  background-color: gold;
}

.card--blue {
  background-image: url(../resource/emojimix-5.png);
  background-color: lightblue;
}

.card--red {
  background-image: url(../resource/emojimix-3.png);
  background-color: red;
}
/*# sourceMappingURL=style.css.map */