@import "variables";
@import "mixin";

* {
    box-sizing: border-box;
}

// header navigation item

.menu__title {
    padding: 0 20px;
    @include font-style($font-14, $fw-400, $gray);
    &::after {
        @include arrow;
    }
    &:hover {
        background-color: $hover-lightgray;
    }
}
.menu__item--open .menu__title::after {
    transform: rotate(225deg);
}


.menu__sub-menu {
    padding-top: 40px;
    padding-bottom: 60px;
}
.sub-menu__category {
    padding: 10px 32px;
    @include font-style($font-14, $fw-700, $gray);
}
.sub-menu__category::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: $hover-lightgray;
}
.sub-menu__item {
    line-height: 1.4;
    padding: 8px 32px 4px;
    &:hover {
        background-color: $hover-lightgray;
    }
    &:hover .sub-menu__title {
        color: $blue;
    }
}
.sub-menu__item--img .sub-menu__link {
    display: flex;
}
.sub-menu__icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}
.sub-menu__title {
    @include font-style($font-14, $fw-400, $gray);
}
.sub-menu__content {
    @include font-style($font-12, $fw-400, $lightgray);
}

.button {
    display: inline-block;
    padding: 0 14px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
}
.button--blue {
    background-color: $blue;
    color: $white;
    border-color: $blue;
    &:hover {
        background-color: $darkblue;
    }
}
.button--transparent {
    background: transparent;
    color: $footer-lightgray;
    border-color: $footer-lightgray;
    &:hover {
        background-color: $footer-lightgray;
        color: $white;
    }
}
.button--link {
    @include font-style($font-14, $fw-400, $blue);
}

.card {
    color: $black;
    width: 100%;
}
.card__title, .card__category {
    font-weight: 700;
}
.card__content {
    padding: 8px 0;
}
.card__link {
    font-size: $font-14;
    font-weight: $fw-700;
    &:hover {
        text-decoration: underline;
    }
}

.card--big {
    display: flex;
    justify-content: center;
    min-height: 650px;
}
.card--big__explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card--big__image {
    margin: 0 auto;
    box-sizing: content-box;
    height: 80%;
    min-height: 450px;
    min-width: 450px;
    max-height: 650px;
    max-width: 650px;
    background-size: cover;
}
.card--big__category {
    font-size: $font-18;
    color: $black;
    padding-bottom: 20px;
}
.card--big__title {
    font-size: $font-42;
    padding-bottom: 25px;
}
.card--big__content, .card--medium__content {
    font-weight: $fw-500;
    font-size: $font-18;
}
.card--big__content {
    margin-right: 100px;
}
.card--big__buttons {
    padding: 20px 0;
}
.card--big__link {
    padding-left: 16px;
}

.card--medium {
    padding: 36px 24px 24px;
    height: 500px;
    &:hover {
        cursor: pointer;
    }
}
.card--medium__category {
    font-size: $font-18;
    padding-bottom: 20px;
}
.card--medium__title {
    font-size: $font-24;
}

.card--small {
    width: 260px;
    height: 100%;
    font-size: $font-14;
}
.card-small__content {
    font-weight: $fw-400;
}
.card--small__link {
    font-weight: $fw-400;
}
.card--pink__wrap {
    padding: 12px;
    padding-left: 32px;
}
.card--pink {
    background-color: $card-pink;
}
.card--pink__category {
    padding: 18px 0; 
}
.card--pink__title {
    padding-bottom: 12px;
}
.card--pink__content {
    padding-bottom: 20px;
}
.card--pink__link {
    text-decoration: underline;
}
.card--pink__image {
    width: 100%;
}

.card--white {
    border: 1px solid #EAEAEA;
    padding: 28px;
}
.card--white__title {
    padding: 8px 0 4px;
    color: $gray;
}
.card--white__content {
    font-size: $font-12;
    color: $footer-gray;
}
.card--white__link {
    color: $blue;
}

.card--cloud__title {
    font-size: $font-24;
    font-weight: $fw-800;
}
.card--cloud__image {
    display: block;
    margin: 20px auto 0;
    width: 100px;
    height: 100px;
}


.menu--footer a {
    line-height: 1.4;
}
.menu--footer__title {
    @include font-style($font-14, $fw-700, $footer-gray);
}
.menu--footer__item {
    padding: 4px 0;
}
.menu--footer__link {
    line-height: 1.4;
    @include font-style($font-12, $fw-400, $footer-lightgray);
    &:hover {
        color: $hover-lightgray;
    }
}