* {
    box-sizing: border-box;
}

.nav-skip a {
    position: absolute;
    top: -200px;
    left: 0;
    width: 200px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    text-align: center;
}
.nav-skip a:active, .nav-skip a:focus {
    top: 0;
}

/* header */
.header {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 36px 24px 12px;
    position: relative;
}

.header__content {
    display: grid;
    grid-template-columns: 2fr 1fr 70px;
}

.title-image {
    display: inline;
    width: 200px;
    height: 50px;
}

/* menu */
.btn-menu {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
}


.btn-menu__icon {
    width: 21px;
    height: 21px;
}

.menu {
    min-width: 575px;
    display: flex;
    justify-content: space-around;
}

.btn {
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

.menu li {
    position: relative;
}

.menu__btn::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #000;
    margin-right: 10px;
}
.menu__btn.on::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #000;
    vertical-align: -5px;
}

.menu__btn {
    font-size: 16px;
    font-family: arial;
    font-weight: 700;
    padding: 12px 12px 12px 0;
    /* width: 100%; */
}


.menu__sub-menu {
    display: none;
    position: absolute;
    /* min-width: 230px; */
    z-index: 10;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 6px 0;
}

.menu__sub-menu.on {
    display: block;
}



.menu__item {
    width : 100%;
    padding: 6px 16px;
}

.menu__item:hover {
    background-color: #1078af;
}

.menu__item:hover .menu__link {
    color: white;
}



.menu__link {
    font-size: 16px;
    font-family: arial;
    font-weight: 700;
    text-decoration: none;
    color: #005282;
}

/* search */

.search-form {
    position: relative;
}

.search-form__input {
    width: 357px;
    min-width: 60px;
    height: 40px;
    padding: 6px 12px;
    border: 2px solid #000;
    font-size: 16px;
}

.search-form__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 5px;
    background: white;
    border:none;
}

.develop-info {
    background-color: #83BFFF;
    padding: 65px 0 73px;
    position: relative;
}

.develop-info__wrap {
    max-width: 1023px;
    margin: 0 auto;
}

.develop-info__desc {
    max-width: 750px;
    padding: 2px 0 6px;
    margin :0 auto 48px; 
    font-family: 'Zilla Slab';
    font-size: 40px;
    font-weight: 400;
    color: white;
    background: #1B1B1B;
    text-align: center;
}

.develop-info__list {
    display: flex;
    justify-content: space-around;
    
}

.develop-info__item {
    width: 255px;
    padding: 12px 0;
    border-bottom: 2px solid #1B1B1B;
}

.develop-info__item a:hover {
    text-decoration: underline;
}

.develop-info__link {
    display: block;
    position: relative;
    text-decoration: none;
    color: #1B1B1B;
    font-family: arial;
    font-size: 16px;
}

.develop-info__link::after {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-image: url(../res/arrow.png);
    vertical-align: top;
}

.develop-info__link:hover::after {
    right: 3px;
}

.content {
    max-width: 1400px;
    display: flex;
    gap: 24px;
    margin: 48px 42.5px;
    padding: 24px;
}

.content__blog-feed {
    flex-basis: 65%;
}

.content__contributed {
    flex-basis: 35%;;
}

.link {
    color: #005282;
    text-decoration: none;
}

.title-content {
    font-family: 'Zilla Slab';
    font-weight: 700;
    color: #1B1B1B;
}

.content__title {
    font-size: 40px;
}

.link-more {
    font-family: arial;
    font-size: 16px;
    line-height: 1.5;
}

.posts__item {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 12px;
}

.posts__title {
    font-family: 'Zilla Slab';
    font-size: 31px;
}

.posts__title:hover {
    text-decoration: underline;
}

.desc {
    font-family: arial;
    font-size: 16px;
    line-height: 1.5;
    color: #1B1B1B;
}

.posts__author {
    font-family: arial;
    font-size: 14.4px;
    line-height: 1.5;
    color: #1B1B1B;
    font-style: italic;
}

.contributed__title {
    font-size: 31px;
    margin-bottom: 24px;
}

.links__item {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 12px;
}

.links__item:hover {
    text-decoration: underline;
}

/* footer grid 로 잡기. */
.footer {
    padding: 48px 24px;
    background-color: #1B1B1B;
    color: white;
}
.footer__wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}

.footer__title-image {
    width: 170px;
    grid-column: 1 / 3;
    margin-bottom: 24px;
    filter: invert();
}

.mdn-info__sns {
    display: flex;
    margin: 20px 0 ;
}

.mdn-info__license {
    grid-column: 1/3;
    margin: 50px 0 30px;
}
.mdn-info__legal {
    grid-column: 1/3;
    padding-bottom: 20px;
}


.mdn-info {
    border-bottom: 1px solid white;
}

.category__item {
    height: 44px;
    line-height: 44px;
}

.link-footer {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 16px;
    padding: 10px 0;
}

.link-footer:hover {
    text-decoration-line: underline;
}

.mdn-info__sns .sns__operator {
    font-family: 'Zilla Slab';
    font-size: 20px;
}

.mdn-info__sns .sns__link {
    color: transparent;
    font-size: 1px;
    margin-left: 16px;
}

.mdn-info__sns .sns__link::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-color: white;
    filter:invert();
}

.mdn-info__sns .sns__link--twitter::before {
    background-image: url(../res/twitter.svg);
}

.mdn-info__sns .sns__link--github::before {
    background-image: url(../res/github.svg);
}

.mdn-info__sns .sns__link--instagram::before {
    background-image: url(../res/instagram.svg);
}

.mdn-info__license {
    border-top: 2px solid white;
    padding: 30px 0;
    font-family: Arial;
    font-size: 16px;
}

.legal__requirements {
    overflow: hidden;
}

.requirements__item {
    float: left;
    padding-right: 20px;
}


/* tablet */
@media screen and (max-width: 1198px) {
    .header {
        flex-direction: column;
        padding-bottom: 0;
    }

    .header__content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .menu {
        justify-content: space-between;
    }

    .search-form {
        margin-top: 10px;
    }

    .search-form__input {
        width: 65%;
        min-width: 60px;
    }

    /* 이거 다시 하면 그냥 가상요소 쓸듯.... */
    .search-form__btn {
        right: calc(35% + 12px);
    }

    .content {
        gap: 24px;
        margin: 48px 0;
        padding: 24px;
    }
}

@media screen and (max-width: 1023px) {
    .develop-info {
        padding: 75px 44px 44px;
    }
    .develop-info__desc {
        max-width: 100%;
        font-size: 25.632px;
        margin-bottom: 24px;
        font-weight: 400;
    }
    .develop-info__list {
        flex-direction: column;
    }
    .develop-info__list .develop-info__item {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .content__blog-feed {
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-bottom: 24px;
    }
    .title-image {
        width: 170px;
    }
    .header__content {
        display: none;
        position: relative;
    }
    .menu {
        grid-row: 2/3;
        flex-direction: column;
    }
    .search-form {
        grid-row: 1/2;
    }
    .btn-menu {
        display: inline-block;
    }
    .btn-menu.on ~ .header__content  {
        display: grid;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        padding: 0 24px 24px;
        background-color: white;
        z-index: 20;
    }

    .menu__sub-menu {
        display: none;
        width: 100%;
        position: static;
        box-shadow: none;
        border: none;
    }

    .menu__sub-menu.on {
        display: block;
    }


    .search-form {
        width: 100%;
    }
    .search-form__input {
        width: 100%;
    }

    .search-form__btn {
        right: 12px;
    }
    
    .develop-info {
        padding: 24px;
    }

    .content {
        margin: 0;
    }

    .content__title, .contributed__title {
        font-size: 25.632px;
    }
    .posts__title .posts__link {
        font-size: 22.784px
    }

    .footer__wrap {
        grid-template-rows: repeat(5,auto);
        grid-gap: 0;
    }
    .mdn-info__category {
        grid-column: 1/3;
    }
    .mdn-info__license {
        border-top: none;
        padding: 0;
        margin: 10px 0;
    }
}